header {
	padding: 20px 0 30px;
}

header nav ul li {
	display: inline-block;
	margin-right: 20px;
	font-size: 130%;
	font-weight: bold;
}

#wrap {
	min-height: 880px;
	width: 1100px;
	margin: 0 auto;
}

textarea {
	padding: 5px;
	display: block;
	border: 1px #bbb solid;
}

#top_block h1 {
	font-size: 150%;
	font-family: Georgia;
	margin-bottom: 15px;
}

button {
	padding: 7px 20px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 20px;
}

label {
	display: block;
	margin: 20px 0 10px;
	font-weight: bold;
}

form button.delete {
	color: red;
	border-color: red;
}

form button.delete:hover {
	color: white;
	background: red;
}

form button.save {
	color: green;
	border-color: green;
}

form button.save:hover {
	color: white;
	background: green;
}

select {
	min-width: 150px;
	padding: 5px;
	display: block;
}

#choose_item {
	margin-bottom: 30px;
}

form.item_edit {
	display: none;
}

form h2 {
	font-family: Georgia;
	font-size: 130%;
	margin: 20px 0;
}

input {
	width: 300px;
}

ul.imgs {
  margin-top: 20px;
}

ul.imgs li {
	margin: 0 20px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

ul.imgs li:hover button.x {
	display: block;
}

ul.imgs button.x {
	width: 20px;
	height: 20px;
	background: red;
	display: none;
  border-radius: 0;
  padding: 0;
  border: 0;
  color: white;
	position: absolute;
	top: 0;
	right: 0;
  margin: 0;
}

ul.imgs button.x:hover {
	background: darkred;
}