header {
	padding: 20px 0 30px;
}

header nav ul li {
	display: inline-block;
	margin-right: 20px;
	font-size: 130%;
	font-weight: bold;
}

#wrap {
	min-height: 880px;
	width: 1100px;
	margin: 0 auto;
}

textarea {
	padding: 5px;
	display: block;
	border: 1px #bbb solid;
}

#top_block h1 {
	font-size: 150%;
	font-family: Georgia;
	margin-bottom: 15px;
}

button {
	padding: 7px 20px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 20px;
}

label {
	display: block;
	margin: 20px 0 10px;
	font-weight: bold;
}

form button.delete {
	color: red;
	border-color: red;
}

form button.delete:hover {
	color: white;
	background: red;
}

form button.save {
	color: green;
	border-color: green;
}

form button.save:hover {
	color: white;
	background: green;
}

select {
	min-width: 150px;
	padding: 5px;
	display: block;
}

#choose_item {
	margin-bottom: 30px;
}

form.item_edit {
	display: none;
}

form h2 {
	font-family: Georgia;
	font-size: 130%;
	margin: 20px 0;
}

input {
	width: 300px;
}


div.upload_photos ul li div {
  visibility: hidden;
}

div.upload_photos ul li:hover div {
  visibility: visible;
}

div.upload_photos ul li input[type=radio] {
  display: inline-block;
  width: 20px;
  margin-top: 10px;
}

div.upload_photos ul label {
  display: inline-block;
  font-size: 80%;
}

p.db_error {
  color: red;
  margin: 15px 0;
  font-weight: bold;
  font-size: 110%;
}
