header {
	padding: 20px 0 30px;
}

header nav ul li {
	display: inline-block;
	margin-right: 20px;
	font-size: 130%;
	font-weight: bold;
}

#wrap {
	min-height: 880px;
	width: 1100px;
	margin: 0 auto;
}

textarea {
	padding: 5px;
	display: block;
	border: 1px #bbb solid;
}

#top_block h1 {
	font-size: 150%;
	font-family: Georgia;
	margin-bottom: 15px;
}

