#timetable {
	border-collapse: collapse;
}

#timetable td, #timetable th {
	border: 1px black solid;
	padding: 7px;
}

#timetable td {
	min-width: 120px;
}

#timetable th {
	font-weight: bold;
}

#timetable tr:hover {
	background: #eee;
}

#timetable button.icon, #timetable a.icon {
	padding: 0;
	width: 20px;
	height: 20px;
	border-radius: 0;
	margin: 0;
	border: 0;
	background: url('/images/icons20.png') no-repeat;
}

#timetable button.delete {
	background-color: red;
	background-position: -20px 0;
	visibility: hidden;
	position: relative;
	top: -4px;
}

#timetable div.course:hover button.delete {
	visibility: visible;
}

#timetable td:hover a.add {
	visibility: visible;
}

#timetable a.add {
	background-color: green;
	background-position: -40px 0;
	float: right;
	visibility: hidden;
}

#add_course button {
	padding: 3px 10px;
}

#times_block div input {
  display: inline-block;
  width: auto;
  margin-right: 7px;
}

#times_block div {
  display: block;
}

#times_block div label {
  display: inline-block;
  margin-right: 3px;
}

#times_block {
  margin-bottom: 20px;

}

#times_block button {
  border-radius: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  display: none;
  vertical-align: top;
	border: 0;
  background-image: url('/images/icons20.png');
  background-repeat: no-repeat;
}

#times_block div:hover button {
  display: inline-block;

}

#times_block button.edit {
  background-color: #9B6D4F;
  background-position: 0 0;
}

#times_block button.add {
  background-color: green;
  background-position: -40px 0;
  display: inline-block !important;
}

#times_block button.delete {
  background-color: red;
  background-position: -20px 0;
}

#times_block h2 {
  margin-bottom: 10px;
}