#top_block .text p {

}

#top_block .adress {
	padding: 10px 20px;
}

#top_block button {
	margin-left: 25px;
}

#bottom_block {
	margin-top: 25px;
	display: inline-block;
	vertical-align: top;
}

#bottom_block section {
	display: inline-block;
	margin: 0 20px;
	padding: 20px;
}

#news article img {
	float: left;
	margin-right: 10px;
}

#news article.main time {
	margin-bottom: 3px;
	display: block;
}

#news article time {
	font-size: 80%;
	color: #aaa;
}

#news article.other time {
	display: inline-block;
	margin-right: 10px;
}

#news article.other h1 {
	display: inline-block;
}

#news article.other {
	margin-bottom: 5px;
}

#news article.main h1 {
	font-weight: bold;
	margin-bottom: 5px;
}

#news article a {
	color: black;
}

#news p, #master p {
  margin-bottom: 0;
  text-indent: 0;
}

#news article.main p {
	margin-left: 110px;
}

#news article.main p a {
	text-decoration: none;
}

#news article.main {
	width: 450px;
	margin-bottom: 25px;
}

#master {
	vertical-align: top;
}

#master article img {
	float: left;
	margin-right: 10px;
}

#master article time {
	font-size: 100%;
	color: #888;
	margin-bottom: 10px;
	display: block;
}

#master article h1 {
	font-weight: bold;
	margin-bottom: 10px;
}

#master article a {
	color: black;
}

#master article p {
	margin-left: 110px;
}

#master article p a {
	text-decoration: none;
}

#master article {
	width: 450px;
	margin-bottom: 25px;
}