body {
  background: #ebfdff url('/images/clouds.png');
  margin: 0 auto;
  font-family: Calibri;
  font-style: italic;
}

#wrap {
  width: 1100px;
  height: auto;
  margin: 0 auto;
  background: #fff;
  padding: 0 20px 50px;
}

a {
  color: #674842;
  text-decoration: underline;
}

input {
  padding: 3px 5px;
  border: 1px #bbb solid;
}

button {
  background: white;
  border: 1px #9b6d4f solid;
  padding: 10px 15px;
  font-size: 90%;
  border-radius: 8px;
  cursor: pointer;
  color: #9b6d4f;
}

button:hover {
  color: white;
  background: #9b6d4f;
}

h1.nice {
  font-family: Georgia;
  font-size: 150%;
  margin-bottom: 20px;
}

#top_block.text_block {
	margin-top: 50px;
  min-height: 300px;
}

#top_block.text_block img {
	width: 400px;
	margin-right: 20px;
	float: left;
}

#top_block.text_block section, #top_block div {
	display: inline-block;
	vertical-align: top;
	font-size: 110%;
}

#top_block.text_block .text {
	width: 630px;	
	margin-bottom: 20px;
	padding: 20px;
	vertical-align: bottom;
}

p {
  margin-bottom: 8px;
  text-indent: 10px;
}