body {
    background: #ebfdff url('/images/clouds.png');
    margin: 0 auto;
	font-family: Calibri;
}

#wrap {
    min-height: 880px;
	width: 1100px;
    height: auto;
	margin: 0 auto;
	background: #fff;
	padding: 0 20px;
}

a {
	color: #674842;
    text-decoration: underline;
}

input {
	padding: 3px 5px;
	border: 1px #bbb solid;
}

button {
	background: white;
	border: 1px #9b6d4f solid;
	padding: 10px 15px;
	font-size: 90%;
	border-radius: 8px;
	cursor: pointer;
	color: #9b6d4f;
}

button:hover {
	color: white;
	background: #9b6d4f;
}