div.upload_photos {
  display: block !important;
}

div.upload_photos ul {
  padding-top: 20px;
}

div.upload_photos ul li {
	margin: 0 5px;
	display: inline-block;
	vertical-align: top;
	position: relative;
  text-align: center;
}

div.upload_photos ul li a {
  display: block;
}

div.upload_photos ul li:hover button.x {
	display: block;
}

div.upload_photos ul button.x {
	width: 25px;
	height: 25px;
	background: red;
	display: none;
  border-radius: 0;
  padding: 0;
  border: 0;
  color: white;
	position: absolute;
	top: 0;
	right: 0;
  margin: 0;
  cursor: pointer;
}


/*-----------------------------*/

#resize_photo {
  width: 454px;
  height: 300px;
  margin: 0px auto;
  position: relative;
}

#resize_photo div.faded {
  cursor: crosshair;
  left: 0px;
  top: 0px;
  width: 454px;
  height: 300px;
  z-index: 1030;
  display: block;
  position: absolute;
  opacity: 0.75;
  background: none repeat scroll 0% 0% #000;
}

#resize_photo div.frame {
  cursor: move;
  z-index: 1040;
  left: 97px;
  top: 20px;
  width: 260px;
  height: 260px;
  display: block;
  overflow: hidden;
  position: absolute;
}

#resize_photo img.src_image_in {
  cursor: move;
  width: 454px;
  height: 300px;
  margin-left: -97px;
  margin-top: -20px;
}

#resize_photo img.src_image_out {
  width: 454px;
  height: 300px;
  z-index: 1020;
}